	.mediaViewInfo {
		--web-view-name: About Us;
		--web-view-id: About_Us;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: About_Us;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#About_Us {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: About Us;
		--web-view-id: About_Us;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#BG-01 {
		position: absolute;
		width: 1921px;
		height: 3414px;
		left: -0.5px;
		top: -7.5px;
		overflow: visible;
	}
	#Rectangle_1 {
		fill: rgba(255,156,44,1);
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 646px;
		height: 61px;
		left: 1240px;
		top: 42px;
	}
	#Rectangle_2 {
		fill: rgba(244,255,150,1);
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 188px;
		height: 61px;
		left: 1698px;
		top: 43px;
	}
	#Logo_Main-01 {
		position: absolute;
		width: 135px;
		height: 191px;
		left: 0px;
		top: -23px;
		overflow: visible;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Home_Page.html;
		cursor: pointer;
	}
	#VIT_Chennais_Official_Radio_St {
		left: 125px;
		top: 54px;
		position: absolute;
		overflow: visible;
		width: 545px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(233,233,233,1);
	}
	#Component_9__5 {
		position: absolute;
		width: 186px;
		height: 61px;
		left: 1240px;
		top: 42px;
		overflow: visible;
	}
	#Rectangle_41 {
		fill: rgba(255,156,44,1);
	}
	.Rectangle_41 {
		position: absolute;
		overflow: visible;
		width: 186px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Spotlight {
		left: 1261px;
		top: 54px;
		position: absolute;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Spotlight.html;
		cursor: pointer;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(49,49,49,1);
	}
	#Component_9__4 {
		position: absolute;
		width: 237px;
		height: 61px;
		left: 1453px;
		top: 42px;
		overflow: visible;
	}
	#Rectangle_39 {
		fill: rgba(255,156,44,1);
	}
	.Rectangle_39 {
		position: absolute;
		overflow: visible;
		width: 237px;
		height: 61px;
		left: 0px;
		top: 0px;
	}
	#Video_Gallery {
		left: 1461px;
		top: 54px;
		position: absolute;
		overflow: visible;
		width: 205px;
		white-space: nowrap;
		--web-animation: fadein 0.3s ease-out;
		--web-action-type: page;
		--web-action-target: Video_Gallery.html;
		cursor: pointer;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(49,49,49,1);
	}
	#About_Us_u {
		left: 1721px;
		top: 54px;
		position: absolute;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(49,49,49,1);
	}
	#Rectangle_33 {
		fill: rgba(228,228,228,1);
	}
	.Rectangle_33 {
		position: absolute;
		overflow: visible;
		width: 97px;
		height: 88px;
		left: 1571px;
		top: 844px;
	}
	#Rectangle_34 {
		fill: rgba(228,228,228,1);
	}
	.Rectangle_34 {
		position: absolute;
		overflow: visible;
		width: 97px;
		height: 88px;
		left: 1681px;
		top: 844px;
	}
	#Rectangle_35 {
		fill: rgba(228,228,228,1);
	}
	.Rectangle_35 {
		position: absolute;
		overflow: visible;
		width: 97px;
		height: 88px;
		left: 1791px;
		top: 844px;
	}
	#Rectangle_31 {
		fill: rgba(228,228,228,1);
	}
	.Rectangle_31 {
		position: absolute;
		overflow: visible;
		width: 299px;
		height: 272px;
		left: 33px;
		top: 660px;
	}
	#Rectangle_32 {
		fill: rgba(228,228,228,1);
	}
	.Rectangle_32 {
		position: absolute;
		overflow: visible;
		width: 97px;
		height: 88px;
		left: 1461px;
		top: 844px;
	}
	#We_are_a_group_of_motivated_in {
		left: 33px;
		top: 280px;
		position: absolute;
		overflow: visible;
		width: 1469px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(233,233,233,1);
	}
	#We_operate_out_of_Vellore_Inst {
		left: 33px;
		top: 456px;
		position: absolute;
		overflow: visible;
		width: 1387px;
		white-space: nowrap;
		text-align: left;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 31px;
		color: rgba(233,233,233,1);
	}


Messages:
1. Exported image: BG-01.png (656.2k)
2. Exported image: BG-01@2x.png (1.67MB)
3. Exported image: Logo_Main-01.png (10.7k)
4. Exported image: Logo_Main-01@2x.png (26.5k)
5. Exported image: Total image size 666.9k

Warnings:
1. ID truncated: The auto generated ID starting with 'VIT_Chennais_Offici…' was truncated
2. ID truncated: The auto generated ID starting with 'We_are_a_group_of_m…' was truncated
3. ID truncated: The auto generated ID starting with 'We_operate_out_of_V…' was truncated
4. Duplicate ID: The Text named, "About Us" on artboard, "About Us" was renamed to, "About_Us_u"